@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Prueba AgileSoft</h1>
    <p class="lead">Test Práctico para aplicación a cargo de Ingeniero de Software.</p>
    <p>@Html.ActionLink("¡Comenzar!","Index","Tarea",null,new {@class="btn btn-primary btn-lg" })</p>
</div>